/* line 1, ../scss/_header.scss */
header {
  color: white;
  background-image: url("../img/header.png");
  background-size: cover;
  padding: 37px;
  height: 580px;
}
/* line 8, ../scss/_header.scss */
header > div {
  width: 850px;
  margin: auto;
}
/* line 13, ../scss/_header.scss */
header span {
  float: left;
}
/* line 17, ../scss/_header.scss */
header nav {
  float: right;
}
/* line 20, ../scss/_header.scss */
header nav a {
  color: white;
  opacity: 0.5;
  text-transform: uppercase;
  padding-right: 20px;
}
/* line 27, ../scss/_header.scss */
header nav a:last-of-type {
  padding-right: 0px;
}
/* line 31, ../scss/_header.scss */
header nav a:hover, header nav a.selected {
  opacity: 1;
}
/* line 36, ../scss/_header.scss */
header nav a.button {
  opacity: 1;
}
/* line 42, ../scss/_header.scss */
header h1 {
  padding-top: 178px;
  padding-bottom: 111px;
}
/* line 47, ../scss/_header.scss */
header h3 {
  text-align: center;
}
/* line 52, ../scss/_header.scss */
header .counter {
  padding-top: 40px;
  font-size: 30px;
}
/* line 56, ../scss/_header.scss */
header .counter div {
  float: right;
  width: 25%;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
}
/* line 64, ../scss/_header.scss */
header .counter div strong {
  width: 100%;
  display: inline-block;
}

/* line 1, ../scss/_elements.scss */
.clear {
  clear: both;
}

/* line 6, ../scss/_elements.scss */
h1, h2, h3, h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

/* line 12, ../scss/_elements.scss */
h1 {
  font-size: 40px;
}

/* line 16, ../scss/_elements.scss */
h3 {
  font-size: 30px;
}

/* line 20, ../scss/_elements.scss */
a {
  text-decoration: none;
}

/* line 24, ../scss/_elements.scss */
a.button {
  border-radius: 3px;
  border: 3px solid;
  padding: 5px 7px !important;
}
/* line 30, ../scss/_elements.scss */
a.button.small {
  border-width: 2px;
}
/* line 34, ../scss/_elements.scss */
a.button.white {
  border-color: white;
  color: white;
}
/* line 38, ../scss/_elements.scss */
a.button.white:hover {
  background-color: white;
  color: #f47a27;
}
/* line 44, ../scss/_elements.scss */
a.button.orange {
  border-color: #f47a27;
  color: #f47a27;
}
/* line 48, ../scss/_elements.scss */
a.button.orange:hover {
  background-color: #f47a27;
  color: white;
}

/* line 5, ../scss/app.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 11, ../scss/app.scss */
body {
  font-color: #a0a0a0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
