.clear {
	clear: both;
	margin: 0 !important;
	padding: 0 !important;
	height: 0px !important;
	width: 0px !important;
	display: block !important;
}

section {
	width: $colwidth;
	margin: auto;

	div.half {
		width: 45%;
		float: left;

		&:nth-of-type(even) {
			float: right;
		}
	}
}

.background {

	width: 100%;

	&.gray {
		background-color: $gray;
	}

	&.white {
		background-color: white;
	}
}

.to {
	&.right {
		float: right;
	}

	&.left {
		float: left;
	}
}

h1, h2, h3, h4 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;


	&.black {
		color: black;
	}

	&.orange {
		color: $orange;
	}

	&.white {
		color: white;
	}
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 50px;
	color: $orange;

}

h3 {
	font-size: 30px;
}

a {
	text-decoration: none;
	transition-duration: 0.3s;
}

p {
	color: #a0a0a0;
	margin-bottom: 1em;
}

a.button {

	border-radius: 3px;
	border: 3px solid;
	padding: 7px 13px !important;
	font-weight: bold;
	text-transform: uppercase;
	width: 200px;
	text-align: center;

	&.small {
		width: 80px;
		display: inline-block;
		border-width: 2px;
		border-radius: 2px;
		padding: 5px 7px !important;
	}

	&.white {
		border-color: white;
		color: white;

		&:hover {
			background-color: white;
			color: $orange;
		}
	}

	&.orange {
		border-color: $orange;
		color: $orange;

		&:hover {
			background-color: $orange;
			color: white;
		}
	}

}
