/* line 1, ../scss/_elements.scss */
.clear {
  clear: both;
  margin: 0 !important;
  padding: 0 !important;
  height: 0px !important;
  width: 0px !important;
  display: block !important;
}

/* line 10, ../scss/_elements.scss */
section {
  width: 850px;
  margin: auto;
}
/* line 14, ../scss/_elements.scss */
section div.half {
  width: 45%;
  float: left;
}
/* line 18, ../scss/_elements.scss */
section div.half:nth-of-type(even) {
  float: right;
}

/* line 24, ../scss/_elements.scss */
.background {
  width: 100%;
}
/* line 28, ../scss/_elements.scss */
.background.gray {
  background-color: #f7f6f6;
}
/* line 32, ../scss/_elements.scss */
.background.white {
  background-color: white;
}

/* line 38, ../scss/_elements.scss */
.to.right {
  float: right;
}
/* line 42, ../scss/_elements.scss */
.to.left {
  float: left;
}

/* line 47, ../scss/_elements.scss */
h1, h2, h3, h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}
/* line 53, ../scss/_elements.scss */
h1.black, h2.black, h3.black, h4.black {
  color: black;
}
/* line 57, ../scss/_elements.scss */
h1.orange, h2.orange, h3.orange, h4.orange {
  color: #f47a27;
}
/* line 61, ../scss/_elements.scss */
h1.white, h2.white, h3.white, h4.white {
  color: white;
}

/* line 66, ../scss/_elements.scss */
h1 {
  font-size: 40px;
}

/* line 70, ../scss/_elements.scss */
h2 {
  font-size: 50px;
  color: #f47a27;
}

/* line 76, ../scss/_elements.scss */
h3 {
  font-size: 30px;
}

/* line 80, ../scss/_elements.scss */
a {
  text-decoration: none;
  transition-duration: 0.3s;
}

/* line 85, ../scss/_elements.scss */
p {
  color: #a0a0a0;
  margin-bottom: 1em;
}

/* line 90, ../scss/_elements.scss */
a.button {
  border-radius: 3px;
  border: 3px solid;
  padding: 7px 13px !important;
  font-weight: bold;
  text-transform: uppercase;
  width: 200px;
  text-align: center;
}
/* line 100, ../scss/_elements.scss */
a.button.small {
  width: 80px;
  display: inline-block;
  border-width: 2px;
  border-radius: 2px;
  padding: 5px 7px !important;
}
/* line 108, ../scss/_elements.scss */
a.button.white {
  border-color: white;
  color: white;
}
/* line 112, ../scss/_elements.scss */
a.button.white:hover {
  background-color: white;
  color: #f47a27;
}
/* line 118, ../scss/_elements.scss */
a.button.orange {
  border-color: #f47a27;
  color: #f47a27;
}
/* line 122, ../scss/_elements.scss */
a.button.orange:hover {
  background-color: #f47a27;
  color: white;
}

/* line 4, ../scss/app.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 10, ../scss/app.scss */
body {
  font-color: #a0a0a0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../scss/_header.scss */
header {
  color: white;
  background-image: url("../img/header.png");
  background-size: cover;
  padding: 37px;
  height: 580px;
}
/* line 8, ../scss/_header.scss */
header a.hamburger {
  display: none;
}
/* line 12, ../scss/_header.scss */
header > div {
  width: 850px;
  margin: auto;
}
/* line 17, ../scss/_header.scss */
header span {
  float: left;
  padding: 5px 7px;
}
/* line 22, ../scss/_header.scss */
header nav.mobile {
  display: none;
}
/* line 26, ../scss/_header.scss */
header nav {
  float: right;
}
/* line 29, ../scss/_header.scss */
header nav a {
  color: white;
  opacity: 0.5;
  text-transform: uppercase;
  padding-right: 20px;
}
/* line 36, ../scss/_header.scss */
header nav a:last-of-type {
  padding-right: 0px;
}
/* line 40, ../scss/_header.scss */
header nav a:hover, header nav a.selected {
  opacity: 1;
}
/* line 45, ../scss/_header.scss */
header nav a.button {
  opacity: 1;
}
/* line 51, ../scss/_header.scss */
header h1 {
  padding-top: 178px;
  padding-bottom: 111px;
}
/* line 56, ../scss/_header.scss */
header h3 {
  text-align: center;
}
/* line 61, ../scss/_header.scss */
header .counter {
  padding-top: 40px;
  font-size: 30px;
}
/* line 65, ../scss/_header.scss */
header .counter div {
  float: left;
  width: 25%;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
}
/* line 73, ../scss/_header.scss */
header .counter div strong {
  width: 100%;
  display: inline-block;
}

/* line 82, ../scss/_header.scss */
.sticky {
  display: block;
  width: 100%;
  background-color: #f47a27;
  height: 40px;
  position: fixed;
  top: -100%;
  -webkit-transition: 1s all;
}
/* line 91, ../scss/_header.scss */
.sticky > div {
  width: 850px;
  margin: auto;
}
/* line 96, ../scss/_header.scss */
.sticky span {
  padding: 5px 7px;
  line-height: 40px;
  color: white;
}
/* line 102, ../scss/_header.scss */
.sticky a.hamburger {
  display: none;
}
/* line 106, ../scss/_header.scss */
.sticky.active {
  top: 0px;
  z-index: 20;
}
/* line 111, ../scss/_header.scss */
.sticky nav {
  float: right;
  line-height: 40px;
}
/* line 115, ../scss/_header.scss */
.sticky nav a {
  color: white;
  opacity: 0.5;
  text-transform: uppercase;
  padding-right: 20px;
}
/* line 122, ../scss/_header.scss */
.sticky nav a:last-of-type {
  padding-right: 0px;
}
/* line 126, ../scss/_header.scss */
.sticky nav a:hover, .sticky nav a.selected {
  opacity: 1;
}
/* line 131, ../scss/_header.scss */
.sticky nav a.button {
  opacity: 1;
}

/* line 1, ../scss/sections/_about.scss */
#about {
  padding: 75px 0px;
}
/* line 5, ../scss/sections/_about.scss */
#about h2 {
  color: #f47a27;
  text-align: left;
  padding-bottom: 20px;
}
/* line 11, ../scss/sections/_about.scss */
#about p {
  font-size: 14px;
  line-height: 1.667;
}

/* line 1, ../scss/sections/_when.scss */
#when {
  padding-top: 75px;
  padding-bottom: 1em;
}
/* line 5, ../scss/sections/_when.scss */
#when h2 {
  margin-bottom: 70px;
}
/* line 7, ../scss/sections/_when.scss */
#when h2 strong {
  color: #f47a27;
}
/* line 11, ../scss/sections/_when.scss */
#when h2.black {
  margin-bottom: 40px;
}
/* line 16, ../scss/sections/_when.scss */
#when div.details {
  display: table-cell;
  text-align: center;
}
/* line 21, ../scss/sections/_when.scss */
#when span {
  font-size: 15px;
  color: #a0a0a0;
  background-position: left 50%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 1.5em;
}
/* line 32, ../scss/sections/_when.scss */
#when span:last-of-type {
  margin-right: 0em;
}
/* line 36, ../scss/sections/_when.scss */
#when span.date {
  padding-left: 25px;
  background-image: url("../img/calendar-icon.png");
}
/* line 41, ../scss/sections/_when.scss */
#when span.location {
  padding-left: 16px;
  background-image: url("../img/place-icon.png");
}
/* line 47, ../scss/sections/_when.scss */
#when div.half {
  margin: 2em 0em;
}

/* line 1, ../scss/sections/_where.scss */
#where {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 350px;
}

/* line 1, ../scss/sections/_who.scss */
#who {
  padding-top: 40px;
}
/* line 5, ../scss/sections/_who.scss */
#who h2 {
  margin-bottom: 40px;
}
/* line 9, ../scss/sections/_who.scss */
#who .speaker {
  width: 30%;
  float: left;
  margin-right: 5%;
  position: relative;
  margin-bottom: 5em;
}
/* line 16, ../scss/sections/_who.scss */
#who .speaker:last-of-type {
  margin-right: 0%;
}
/* line 21, ../scss/sections/_who.scss */
#who .speaker img {
  border-radius: 240px;
  width: 240px;
  display: block;
  margin: auto;
}
/* line 29, ../scss/sections/_who.scss */
#who .speaker span.name {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  font-size: 25px;
  text-align: center;
  color: #333333;
}
/* line 38, ../scss/sections/_who.scss */
#who .speaker span.description {
  font-size: 18px;
  color: #9f9393;
  font-style: italic;
  font-weight: 300;
  display: inline-block;
  text-align: center;
  width: 100%;
}
/* line 49, ../scss/sections/_who.scss */
#who .speaker .links {
  display: block;
  margin: 1em 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* line 57, ../scss/sections/_who.scss */
#who .speaker .links a {
  width: 35px;
  height: 35px;
  display: inline-block;
  font-family: "FontAwesome";
  color: black;
  background-color: white;
  border-radius: 35px;
  float: left;
  margin-right: 11px;
}
/* line 68, ../scss/sections/_who.scss */
#who .speaker .links a:last-of-type {
  margin-right: 0em;
}
/* line 72, ../scss/sections/_who.scss */
#who .speaker .links a:before {
  width: 35px;
  text-align: center;
  display: inline-block;
  height: 35px;
  line-height: 35px;
}
/* line 80, ../scss/sections/_who.scss */
#who .speaker .links a:hover {
  background-color: #f47a27;
  color: white;
}

/* line 1, ../scss/sections/_what.scss */
#what {
  height: 500px;
  padding-top: 40px;
}

/* line 1, ../scss/sections/_creators.scss */
#creators {
  padding-top: 40px;
}
/* line 5, ../scss/sections/_creators.scss */
#creators h2 {
  margin-bottom: 40px;
}
/* line 9, ../scss/sections/_creators.scss */
#creators .creator {
  width: 20%;
  float: left;
  position: relative;
}
/* line 14, ../scss/sections/_creators.scss */
#creators .creator:last-of-type {
  margin-right: 0%;
}
/* line 19, ../scss/sections/_creators.scss */
#creators .creator img {
  border-radius: 240px;
  width: 120px;
  display: block;
  margin: auto;
}
/* line 27, ../scss/sections/_creators.scss */
#creators .creator span.name {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  font-size: 25px;
  text-align: center;
  color: #333333;
}
/* line 36, ../scss/sections/_creators.scss */
#creators .creator span.description {
  font-size: 18px;
  color: #9f9393;
  font-style: italic;
  text-align: center;
  font-weight: 300;
  display: inline-block;
  text-align: center;
}
/* line 47, ../scss/sections/_creators.scss */
#creators .creator .links {
  display: block;
  width: 127px;
  margin: 1em auto;
}
/* line 53, ../scss/sections/_creators.scss */
#creators .creator .links a {
  width: 35px;
  height: 35px;
  display: inline-block;
  font-family: "FontAwesome";
  color: black;
  background-color: white;
  border-radius: 35px;
  float: left;
  margin-right: 11px;
}
/* line 64, ../scss/sections/_creators.scss */
#creators .creator .links a:last-of-type {
  margin-right: 0em;
}
/* line 68, ../scss/sections/_creators.scss */
#creators .creator .links a:before {
  width: 35px;
  text-align: center;
  display: inline-block;
  height: 35px;
  line-height: 35px;
}
/* line 76, ../scss/sections/_creators.scss */
#creators .creator .links a:hover {
  background-color: #f47a27;
  color: white;
}

/* line 1, ../scss/sections/_footer.scss */
footer {
  padding: 80px 0px;
  position: fixed;
  z-index: -1;
  bottom: 0;
  background-color: #f47a27;
  width: 100%;
  height: 530px;
}
/* line 4, ../scss/sections/_footer.scss */
footer a {
  color: white;
  font-weight: bold;
}
/* line 16, ../scss/sections/_footer.scss */
footer h2, footer h3, footer h4 {
  color: white;
}
/* line 20, ../scss/sections/_footer.scss */
footer h2 {
  margin-bottom: 35px;
}
/* line 24, ../scss/sections/_footer.scss */
footer h4 {
  margin-bottom: 80px;
}
/* line 28, ../scss/sections/_footer.scss */
footer span {
  color: white;
  text-align: center;
  display: inline-block;
  width: 100%;
}
/* line 35, ../scss/sections/_footer.scss */
footer .links {
  display: block;
  width: 200px;
  margin: 1em auto;
  margin-bottom: 90px;
}
/* line 41, ../scss/sections/_footer.scss */
footer .links a {
  float: left;
  margin-right: 20px;
  font-size: 37px;
  font-family: "FontAwesome";
  color: white;
}
/* line 48, ../scss/sections/_footer.scss */
footer .links a:last-of-type {
  margin-right: 0em;
}
/* line 52, ../scss/sections/_footer.scss */
footer .links a:before {
  width: 35px;
  text-align: center;
  display: inline-block;
  height: 35px;
  line-height: 35px;
}
/* line 60, ../scss/sections/_footer.scss */
footer .links a:hover {
  background-color: #f47a27;
  color: white;
}

/* line 68, ../scss/sections/_footer.scss */
#fakebackground {
  background-color: white;
}

/* line 72, ../scss/sections/_footer.scss */
#fakefooter {
  height: 530px;
  background-color: transparent;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 720px) {
  /* line 1, ../scss/_responsive.scss */
  body {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }

  /* line 7, ../scss/_responsive.scss */
  header {
    width: 100%;
    padding: 0;
  }
  /* line 11, ../scss/_responsive.scss */
  header > div {
    width: 100%;
  }
  /* line 15, ../scss/_responsive.scss */
  header h1 {
    padding-top: 52px;
  }
  /* line 19, ../scss/_responsive.scss */
  header span,
  header nav {
    display: none;
  }
  /* line 28, ../scss/_responsive.scss */
  header .counter div {
    width: 100%;
  }
  /* line 32, ../scss/_responsive.scss */
  header .counter .hours,
  header .counter .minutes,
  header .counter .seconds {
    display: none;
  }

  /* line 42, ../scss/_responsive.scss */
  .sticky > div {
    width: 100%;
  }
  /* line 46, ../scss/_responsive.scss */
  .sticky a.hamburger {
    font-size: 16px;
    color: white;
    float: right;
    height: 40px;
    line-height: 40px;
    padding-right: 8px;
    display: block;
  }
  /* line 56, ../scss/_responsive.scss */
  .sticky nav {
    background-color: #f47a27;
    display: none;
    padding: 0em 1em;
    padding-right: 8px;
  }
  /* line 62, ../scss/_responsive.scss */
  .sticky nav a {
    width: 100%;
    display: block;
    float: right;
    text-align: right;
    padding-right: 0;
  }
  /* line 69, ../scss/_responsive.scss */
  .sticky nav a.button.small {
    border: none;
    padding: 0px !important;
    text-align: right;
  }

  /* line 78, ../scss/_responsive.scss */
  section {
    width: 100%;
  }
  /* line 82, ../scss/_responsive.scss */
  section h2 {
    text-align: center !important;
  }
  /* line 86, ../scss/_responsive.scss */
  section div.half {
    width: 100%;
    margin: 0;
    padding: 0em 1em;
    float: left !important;
  }

  /* line 94, ../scss/_responsive.scss */
  #about {
    padding: 35px;
  }
  /* line 98, ../scss/_responsive.scss */
  #about div.half:nth-of-type(1) {
    margin-bottom: 35px;
  }

  /* line 104, ../scss/_responsive.scss */
  #when {
    padding-top: 35px;
  }
  /* line 107, ../scss/_responsive.scss */
  #when h2.black {
    margin-bottom: 10px;
  }
  /* line 111, ../scss/_responsive.scss */
  #when div.half {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  /* line 116, ../scss/_responsive.scss */
  #when div.half span {
    float: none !important;
  }
  /* line 121, ../scss/_responsive.scss */
  #when p {
    padding: 0em 1em;
    padding-top: 30px;
  }
  /* line 126, ../scss/_responsive.scss */
  #when a.button {
    width: 100%;
    margin-bottom: 1em;
  }

  /* line 133, ../scss/_responsive.scss */
  #who .speaker {
    width: 100%;
  }
  /* line 136, ../scss/_responsive.scss */
  #who .speaker img {
    max-width: 240px;
    width: 90%;
  }

  /* line 144, ../scss/_responsive.scss */
  #creators .creator {
    width: 100%;
  }
  /* line 147, ../scss/_responsive.scss */
  #creators .creator img {
    max-width: 240px;
    width: 90%;
  }
}
