#about {

	padding: 75px 0px;

	h2 {
		color: $orange;
		text-align: left;
		padding-bottom: 20px;
	}

	p {
		font-size: 14px;
		line-height: 1.667;

		a {
			color: $orange;

			&:hover {
				color: white;
			}
		}
	}

}