#when {
	padding-top: 75px;
	padding-bottom: 1em;

	h2 {
		margin-bottom: 20px;
		strong {
			color: $orange;
		}

		&.black {
			margin-bottom: 10px;
		}
	}

	div.details {
	   display: table-cell;
	   text-align: center;
	}

	span {
		font-size: 15px;
		color: #a0a0a0;
		background-position: left 50%;
		background-repeat:  no-repeat;
		display: inline-block;
		height: 20px;
		text-align: center;
		margin-bottom: 1em;
		margin-right: 1.5em;

		&:last-of-type {
			margin-right: 0em;
		}

		&.date {
			padding-left: 25px;
			background-image: url('../img/calendar-icon.png');
		}

		&.location {
			padding-left: 16px;
			background-image: url('../img/place-icon.png');
		}
	}

	div.half {
		margin: 2em 0em;
	}
}
