#who {

	padding-top: 40px;

	h2 {
		margin-bottom: 40px;
	}

	.speaker {
		width: 30%;
		float: left;
		margin-right: 5%;
		position: relative;
		margin-bottom: 5em;

		&:last-of-type {
			margin-right: 0%;
		}


		img {
			border-radius: 240px;
			width: 240px;
			display: block;
			margin: auto;
		}

		span {
			&.name {
				margin-top: 20px;
				display: inline-block;
				width: 100%;
				font-size: 25px;
				text-align: center;
				color: rgb(51, 51, 51);
			}

			&.description {
				font-size: 18px;
				color: rgb(159, 147, 147);
				font-style: italic;
				font-weight: 300;
				display: inline-block;
				text-align: center;
				width: 100%;
			}
		}

		.links {

			display: block;
			margin: 1em 0;
			position: absolute;
			left: 50%;
			-webkit-transform: translateX(-50%);

			a {
				width: 35px;
				height: 35px;
				display: inline-block;
				font-family: "FontAwesome";
				color: black;
				background-color: white;
				border-radius: 35px;
				float: left;
				margin-right: 11px;

				&:last-of-type {
					margin-right: 0em;
				}

				&:before {
					width: 35px;
					text-align: center;
					display: inline-block;
					height: 35px;
					line-height: 35px;
				}

				&:hover {
					background-color: $orange;
					color: white;
				}
			}
		}
	}
}